# Importação

In [29]:
import os
import glob
import pandas as pd
from typing import List, Dict

In [2]:
path_logs = r'/mnt/c/Users/mathe/Documents/AIML_logs/treinamento_aiml/logs'

In [63]:
logs = pd.DataFrame(columns=['equipment_type', 'run_id', 'test_case', 'timestamp', 'baud_rate', 'slot', 'serial_port', 'tx_data', 'rx_data', 'response_time'
                            'command_protocol', 'command_name'])

In [64]:
def get_equipment_type(path: str) -> List[str]:
    '''
    Returns a list with equipment's types.
    Args:
        path (str): Logs path
    Returns:
        List (str): List with equipment's types
    '''
    equipment_types = []
    entries = os.listdir(path)
    for entry in entries:
        equipment_types.append(entry)
    return equipment_types

In [65]:
def get_run_ids(path: str) -> Dict[str, List[str]]:
    '''
    Returns a dict with equipment's types as keys and a list of run_ids as values.
    Args:
        path (str): Logs path
    Returns:
        Dict (str, List[str]): Dict with equipment's types as keys and a list of run_ids as values
    '''
    run_ids = {}
    for equipment in logs['equipment_type'].values:
        entries = os.listdir(f'{path_logs}/{equipment}')
        if equipment not in run_ids.keys():
            run_ids[equipment] = []
        for entry in entries:
            run_ids[equipment].append(entry)
    return run_ids

In [66]:
def get_test_case(path: str) -> Dict[str, List[str]]:
    '''
    Returns a dict with run_ids as keys and a list of test_cases names as values.
    Args:
        path (str): Logs path
    Returns:
        Dict (str, List[str]): Dict with run_ids as keys and a list of test_cases names as values
    '''
    test_cases = {}
    for equipment in logs['equipment_type'].values:
        for run_id in logs['run_id'].values:
            files = next(os.walk(f'{path_logs}/{equipment}/{run_id}'))[2]
            test_cases[run_id] = [file[10:-4] for file in files if file.endswith('.txt', -4)]
    return test_cases

In [67]:
logs['equipment_type'] = get_equipment_type(path_logs)

In [68]:
logs['run_id'] = logs['equipment_type'].map(get_run_ids(path_logs))

In [69]:
logs = logs.explode('run_id')
logs

,equipment_type,run_id,test_case,timestamp,baud_rate,slot,serial_port,tx_data,rx_data,response_timecommand_protocol,command_name
0,8721,220818_171756_851_8721_win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220905_220107_851_8721_linux,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
logs['test_case'] = logs['run_id'].map(get_test_case(path_logs))
logs = logs.explode('test_case')
logs

,equipment_type,run_id,test_case,timestamp,baud_rate,slot,serial_port,tx_data,rx_data,response_timecommand_protocol,command_name
0,8721,220818_171756_851_8721_win,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220818_171756_851_8721_win,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220818_171756_851_8721_win,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220818_171756_851_8721_win,10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220818_171756_851_8721_win,10005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
0,8721,220905_220107_851_8721_linux,9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220905_220107_851_8721_linux,9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220905_220107_851_8721_linux,9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220905_220107_851_8721_linux,9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,8721,220905_220107_851_8721_linux,9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN